.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  & .link {
    color: rgba(255, 255, 255, 0.6);
  }
  & .link:hover,
  & .link:focus {
    color: $accent-color;
  }

  &__item-mail:not(:last-child) {
    margin-bottom: 9px;
  }
}
