.header {
  position: relative;
}

.header__flexbox {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.header--portfolio {
  border-bottom: 1px solid #ececec;
}

.header-button-icon {
  @media screen and (max-width: 767px) {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
  }
}

.header-menu {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  margin-right: auto;
  margin-left: auto;
  background-color: $primary-white-color;

  &.is-open {
    display: block;
  }
}
