.hero {
  background-color: $bg-color;

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;

    @include screen-size(desktop) {
      height: 600px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-bottom: 30px;
    /* сбросила отступ между шапкой и героем */
    margin-top: 0;

    @include screen-size(desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
