.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 480px) and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: $title-text-color;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section--feature {
    padding-bottom: 0;
  }
}

.section--command {
  background-color: $secondary-bg-color;
  width: 100%;
}
